In [26]:
import unidecode
import numpy as np
import pandas as pd

## Parc et jardins de Nantes

In [27]:

dfPJN = pd.read_csv("parcs-jardins-nantes.csv", sep = ";")
## Les colonnes que je souhaite supprimer
PJN = dfPJN.drop(columns = ['Web','Géolocalisation', 'Identifiant', 'Informations complémentaires'])
## Les débuts de mots que je veux supprimer sur la colonne Nom du site
EXCEPTION = ['Belvédère','Aire du','Cours','Pataugeoire du', 'Square de la','Square du','Square des','Square de','Square', 'Jardin de la','Jardin des','Jardin de', 'Jardin du','Jardin d\'','Jardin','Parc du Grand','Parc Floral de la' ,'Parc de la', 'Parc du','Parc des', 'Parc de', 'Parc', 'Place de la','Place du','Place des','Place de', 'Place']
## Mon algo pour changer une par une les cellules de Nom
for line in range(len(PJN)):
    name = PJN.loc[line, 'Nom']
    for exception in EXCEPTION:
        if exception in PJN.loc[line, 'Nom']:
#             print(name)
#             print('##' +exception)
            name = name.replace(exception + " ", "")
            name = name.upper()
            name = unidecode.unidecode(name)
#             print(name)
            PJN.loc[line, 'Nom'] = name
            break
                      
PJN.loc[44,'Nom'] = 'CINQ SENS'
PJN.loc[51,'Nom'] = 'CAMBRONNE'

#Ajout de la collone animaux 
PJN['Animaux'] = np.nan
#Ajout des animaux sur les parcs concernés
PJN.loc[85, 'Animaux'] = 'Chevaux; Anes; Vaches'
PJN.loc[83, 'Animaux'] = 'Canards'
PJN.loc[32, 'Animaux'] = 'Canards; Chèvres; Poules; Oiseaux'

# chantrerie = PJN[PJN['Nom'] == 'PLANTES']
# chantrerie

3 parc : Oblate , chantrerie, gaudinière

Parc Visuel : Bcp d'arbre(plusieur type d'arbre, arbre extraordianire) , vert, atypique, plusieur espece de fleurs?


Parcs avec animaux : 

    Oblates: moutons
    Chantrerie : la ferme de Chantrerie (chevaux, anes, vaches )
    Gaudinère: Canard 
    Jardins : chèvres, poules, canards, oiseaux

In [28]:
All_parks = []
for line in range(len(PJN)):
    All_parks.append(PJN.loc[line, 'Nom'])
    
unique_parks = list(set(All_parks))


print(len(unique_parks))
print(unique_parks)

92
['QUATRE JEUDIS', 'MARCEL LAUNAY', 'FARFADETS', 'SAINTE ANNE', 'PLESSIS TISON', 'BLOTTEREAU', 'MABON', 'NOE MITRIE', 'PASCAL LEBEE', 'PROUST BERGSON', 'NADIR', 'ETIENNE DESTRANGES', 'MAURICE SCHWOB', 'MARSEILLAISE', 'COMMANDANT AUBIN', 'NECTARS', 'STADE DE LA BEAUJOIRE', "COMBATTANTS D'AFRIQUE DU NORD", 'Espace de jeux de Belle Ile', 'CHANTIERS', 'PLANTES', 'BOLLARDIERE PITRE DE LISLE', "JARDIN D'ENFANTS DE PROCE", 'PETIT PORT', 'CLOS-TOREAU', 'ELISA MERCOEUR', 'ZENITH', 'AUGUSTIN FRESNEL', 'GAUDINIERE', 'EGLISE DE LA MADELEINE', 'VILLEBOIS MAREUIL', 'MALAKOFF', 'WATTIGNIES', 'CHANTRERIE', "L'AMANDE", 'SAY', 'FAUSTIN HELIE', 'BROUSSAIS', 'LOUIS BUREAU', 'PROCE', 'JEAN LE GIGANT', 'FELIX THOMAS', 'CANCLAUX', 'VERTAIS', 'DERVALLIERES', 'PABLO PICASSO', 'SAINT FRANCOIS', 'BOIS DE LA MUSSE', 'GABRIEL CHEREAU', 'PRINQUIAU', 'JEAN-BAPTISTE BARRE', 'TOUSSAINT LOUVERTURE', 'LE OBLATES', 'BEAUJOIRE', 'AMIRAL HALGAND', 'MARTYRS IRLANDAIS', 'BENONI GOULIN', 'Douves du Chateau des Ducs', 'CAMBRONNE', 'CONFLUENT', 'MARAICHES', 'ILE DE VERSAILLES', 'GASTON MICHEL', 'WASHINGTON', 'PSALETTE', 'CHARLES HOUSSET', 'COMMANDANT LACROIX', 'BOUCARDIERE', 'ZAC PILLEUX NORD', 'GUIROUEE', 'PILOTIERE', 'MAQUIS DE SAFFRE', 'PLACE BASSE MAR', 'LOUIS FEUILLADE', 'MARCEL MOISAN', 'EDIT DE NANTES', 'VIEUX PARC DE SEVRES', 'SAINT PASQUIER', 'JULES BRECHOIR', 'LAIT DE MAI', 'CAPUCINS', 'BARBARA', 'JEAN-BAPTISTE DAVIAIS', 'HONGRIE', 'COURTILS', 'HALVEQUE', 'GUSTAVE ROCH', 'BEAULIEU', 'CINQ SENS', 'FONDERIES', 'MOUTONNERIE', 'JEAN HEURTIN']

In [29]:
PJN

,Nom,Type,Adresse,Code postal,Commune,Accès transports en commun,Gardien,Jeux pour enfants,Pataugeoire,Sanitaires,Sanitaires pour handicapés,Chiens autorisés,Jardin clos,Abris,Point d'eau,Table pique-nique,Animaux
0,GABRIEL CHEREAU,Parc,Rue d'Ancin,44000,Nantes,Ligne 1 Médiathèque,NON,OUI,NON,NON,NON,OUI,OUI,NON,OUI,NON,NaN
1,NADIR,Parc,Rue du Nadir,44300,Nantes,Ligne 2 Place du cirque / Ligne C6 St Joseph d...,NON,OUI,NON,NON,OUI,OUI,NON,NON,NON,NON,NaN
2,WASHINGTON,Parc,Boulevard des Américains,44300,Nantes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HALVEQUE,Parc,Rue Léon Serpollet,44300,Nantes,Ligne 1 Halvêque,NON,OUI,OUI,NON,OUI,OUI,NON,NON,NON,OUI,NaN
4,WATTIGNIES,Parc,Rue de l'Echappée,44200,Nantes,Wattignies Ligne 2,NON,NON,NON,NON,NON,OUI,NON,NON,NON,NON,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,GUSTAVE ROCH,Parc,22 Boulevard Gustave Roch,44200,Nantes,Wattignies Lignes 2 ; 3,NON,OUI,NON,NON,NON,OUI,OUI,NON,NON,NON,NaN
88,ILE DE VERSAILLES,Parc,Quai Henri Barbusse,44000,Nantes,Saint Mihiel Ligne 2,NON,OUI,NON,OUI,OUI,OUI,OUI,OUI,OUI,NON,NaN
89,MARTYRS IRLANDAIS,Parc,Rue de l'Adour,44100,Nantes,Romain Rolland Ligne 1,NON,OUI,NON,NON,OUI,OUI,OUI,NON,OUI,NON,NaN
90,FARFADETS,Parc,Allée de Portricq,44300,Nantes,Ligne 2 Place du cirque / Ligne C6 Portricq,NON,NON,NON,NON,NON,OUI,NON,NON,NON,NON,NaN
91,SAINTE ANNE,Parc,Rue de l'Hermitage,44100,Nantes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Collection vegetale Nantes

In [30]:
dfCVN = pd.read_csv("collection-vegetale-nantes.csv", sep = ";") 
## Les colonnes que je souhaite supprimer
CVN = dfCVN.drop(columns = ['Année de plantation', 'Localisation','Photo 1','Photo 2','Photo 3','Géolocalisation'])
## Les débuts de mots que je veux supprimer sur la colonne Nom du site
EXCEPTIONS = [ 'Square de la','Square du','Square des','Square de','Square', 'Jardin d\'agronomie tropicale du Grand-','Jardin de la','Jardin des','Jardin de', 'Jardin du','Jardin d\'','Jardin','Parc exotique du Grand-' ,'Parc floral de la ','Parc de la', 'Parc du','Parc des', 'Parc de', 'Parc', 'Place de la','Place du','Place des','Place de', 'Place']
## Je renome la colonne nom du site en Nom afin de pouvoir fusionner le dataframe aux autres
CVN = CVN.rename(columns = {'Nom du site':'Nom'})

## Mon algo pour changer une par une les cellules de Nom
for line in range(len(CVN)):
    name = CVN.loc[line, 'Nom']
    for exception in EXCEPTIONS:
        if exception in CVN.loc[line, 'Nom']:
            name = name.replace(exception , "")
            name = name.upper()
            name = name.replace(" ","")
            name = unidecode.unidecode(name)
            CVN.loc[line, 'Nom'] = name
            break
            
## Nettoyage des lignes:

not_parks = CVN[(CVN['Nom'] == 'ARBORETUMCIMETIERE')].index 
CVN.drop(not_parks, inplace = True)
not_parks = CVN[(CVN['Nom'] == 'Foyer des Anciens')].index 
CVN.drop(not_parks, inplace = True)
not_parks = CVN[(CVN['Nom'] == 'Autre site')].index 
CVN.drop(not_parks, inplace = True)
not_parks = CVN[(CVN['Nom'] == 'Cimetière de la Bouteillerie')].index 
CVN.drop(not_parks, inplace = True)
CVN = CVN.reset_index(drop=True)




Amaryllidaceae = CVN[ CVN['Famille'] == 'Commelinaceae']

CVN

,Famille,Genre,Espèce,Cultivar,Origine,Nom
0,Amaryllidaceae,Galanthus,woronowii Los.,NaN,Botanique garden univer. Agricultre - Batumi,PLANTES
1,Amaryllidaceae,Acis,rosea Sweet,NaN,"Botanischer Garten St.Gallen,St.Gallen,Autriche",PLANTES
2,Amaryllidaceae,Narcissus,papyraceus subsp. polyanthus (Loisel.) Asch. &...,NaN,J.B. Prague (Rep. Tchèque),PLANTES
3,Amaryllidaceae,Narcissus,calcicola L.,NaN,JB. Prague (Rep. Tchèque),PLANTES
4,Amaryllidaceae,Allium,flavum L.,NaN,JB.Bratislava (Slovakie),PLANTES
...,...,...,...,...,...,...
2592,Sapindaceae,Acer,palmatum,Kagiri-nishiki,NaN,PROCE
2593,Sapindaceae,Acer,palmatum,Shishi-gashira,NaN,PROCE
2594,Ericaceae,Arbutus,x andrachnoides,NaN,NaN,PLANTES
2595,Ericaceae,Arbutus,x thuretiana,NaN,NaN,BLOTTEREAU
2596,Salicaceae,Azara,lanceolata,NaN,NaN,PLANTES

In [31]:
## Tous les parcs exploitable sur ce jeu de donnée
All_parks_flore = []
for line in range(len(CVN)):
    All_parks_flore.append(CVN.loc[line, 'Nom'])
    
unique_parks_flore = list(set(All_parks_flore))

print(unique_parks_flore)

['GAUDINIERE', 'BLOTTEREAU', 'PROCE', 'BEAUJOIRE', 'PLANTES']

In [32]:
##LE sous dataframe pour la flore présente à Gaudinière 
GAUDINIERE = CVN[( (CVN['Nom'] != 'PROCE') & (CVN['Nom'] != 'PLANTES') & (CVN['Nom'] != 'BLOTTEREAU') & (CVN['Nom'] != 'BEAUJOIRE'))]
GAUDINIERE = GAUDINIERE.reset_index(drop=True)

In [33]:
##LE sous dataframe pour la flore présente à Proce
PROCE = CVN[( (CVN['Nom'] != 'GAUDINIERE') & (CVN['Nom'] != 'PLANTES') & (CVN['Nom'] != 'BLOTTEREAU') & (CVN['Nom'] != 'BEAUJOIRE'))]
PROCE = PROCE.reset_index(drop=True)

In [34]:
##LE sous dataframe pour la flore présente à Plantes
PLANTES = CVN[( (CVN['Nom'] != 'PROCE') & (CVN['Nom'] != 'GAUDINIERE') & (CVN['Nom'] != 'BLOTTEREAU') & (CVN['Nom'] != 'BEAUJOIRE'))]
PLANTES = PLANTES.reset_index(drop=True)

In [35]:
##LE sous dataframe pour la flore présente à Blottereau
BLOTTEREAU = CVN[( (CVN['Nom'] != 'PROCE') & (CVN['Nom'] != 'PLANTES') & (CVN['Nom'] != 'GAUDINIERE') & (CVN['Nom'] != 'BEAUJOIRE'))]
BLOTTEREAU = BLOTTEREAU.reset_index(drop=True)

In [36]:
##LE sous dataframe pour la flore présente à Beaujoire
BEAUJOIRE = CVN[( (CVN['Nom'] != 'PROCE') & (CVN['Nom'] != 'PLANTES') & (CVN['Nom'] != 'BLOTTEREAU') & (CVN['Nom'] != 'GAUDINIERE'))]
BEAUJOIRE = BEAUJOIRE.reset_index(drop=True)

Reflechir a une solution pour factoriser les codes ci-dessus

In [37]:
#Fonction qui prend en entrée un dataframe et un nom de parc et qui rend le nombre de plantes fleuries,
#leurs familles, espèces et genres, dans le système de classification APG IV, au seins du parc.

def get_info_fleurs_parc(df, nomparc):
    All_species = []
    All_genders = []
    All_families = []
    subdf = df[df['Nom'] == nomparc]
    subdf = subdf.reset_index(drop=True)
    for line in range(len(subdf)):
        All_species.append(subdf.loc[line, 'Espèce'])
        All_genders.append(subdf.loc[line, 'Genre'])
        All_families.append(subdf.loc[line, 'Famille'])
    
    unique_Species = list(set(All_species))
    unique_Genders = list(set(All_genders))
    unique_Families = list(set(All_families))
    
    print("{} dispose de {} plantes à fleures, disposées en {} familles de {} genres pour un toltal de {} espèces".format(nomparc,len(subdf),len(unique_Families),len(unique_Genders),len(unique_Species)))

for park in unique_parks_flore:
    get_info_fleurs_parc(CVN, park)

GAUDINIERE dispose de 12 plantes à fleures, disposées en 10 familles de 10 genres pour un toltal de 11 espèces
BLOTTEREAU dispose de 197 plantes à fleures, disposées en 64 familles de 128 genres pour un toltal de 144 espèces
PROCE dispose de 180 plantes à fleures, disposées en 48 familles de 76 genres pour un toltal de 115 espèces
BEAUJOIRE dispose de 341 plantes à fleures, disposées en 44 familles de 72 genres pour un toltal de 128 espèces
PLANTES dispose de 1867 plantes à fleures, disposées en 134 familles de 585 genres pour un toltal de 1439 espèces

## Patrimoine arboré de Nantes

Je me base sur le format de nom donné sur cette base de donnée car il est plus simple de perdre de l'information de manière controllée, comme vu avec la liste EXCEPTION précedement, que de la créer

In [38]:
dfPAN = pd.read_csv("patrimoine-arbore-nantes.csv", sep = ";")
## Les colonnes que je souhaite supprimer
PAN = dfPAN.drop(columns = ['Forme actuelle', 'Zone boisée','Sous-espèce','Espace boisé classé','Variété','Cultivar', 'Identifiant MapInfo de l\'arbre', 'Identifiant','Code site'])
## Je garde les arbres se trouvant que dans les parcs et square de nante
PAN = PAN[PAN['Type d\'espace']=='Parcs et square'] 
PAN = PAN.drop(columns = ['Type d\'espace'])
## Je renomme la colonne Site en Nom, je peux maintenant la croiser avec les autres dataframes 
PAN = PAN.rename(columns = {'Site':'Nom'})
PAN = PAN.reset_index(drop=True)

##Ne sont pas des parc dans ma bases
#['RUE DE VALMY', 'LEON JOUHAUX', 'MELLINET', 'AQUARELLES', 'ARTHUR COLLINET', 'RENARDS',
#'PARC MENIER', 'RUE DE BEL AIR', 'BENOIT FRACHON  ALLENDE', 'SAINT GEORGES', 'VINCENT AURIOL']


MELLINET = PAN[PAN['Nom']=='RUE DE VALMY'] 
MELLINET
PAN = PAN[( (PAN['Nom'] != 'RUE DE VALMY') & (PAN['Nom'] != 'LEON JOUHAUX') & (PAN['Nom'] != 'MELLINET') & (PAN['Nom'] != 'AQUARELLES') & (PAN['Nom'] != 'ARTHUR COLLINET') & (PAN['Nom'] != 'RENARDS') & (PAN['Nom'] != 'PARC MENIER') & (PAN['Nom'] != 'RUE DE BEL AIR') & (PAN['Nom'] != 'BENOIT FRACHON  ALLENDE') & (PAN['Nom'] != 'SAINT GEORGES') & (PAN['Nom'] != 'VINCENT AURIOL'))]
PAN = PAN.reset_index(drop=True)
PAN.head(35)

,Nom,Année de plantation,Année estimée,Genre,Espèce,Allergène,Diamètre,Hauteur totale,Hauteur moyenne du fût,Arbre remarquable
0,CAPUCINS,NaN,0.0,Tilia,platyphyllos,1,29,6-10 m,"< 5,5 m",NaN
1,CAPUCINS,NaN,0.0,Laurus,nobilis,0,19,11-15 m,"< 5,5 m",NaN
2,CANCLAUX,NaN,0.0,Aesculus,hippocastanum,1,62,11-15 m,"< 5,5 m",NaN
3,BASSE MAR,NaN,0.0,Lagerstroemia,indica,0,8,0-5 m,"< 5,5 m",NaN
4,BASSE MAR,NaN,0.0,Acer,negundo,1,12,0-5 m,"< 5,5 m",NaN
5,ELISA MERCOEUR,NaN,0.0,Cedrus,atlantica,1,62,16-20 m,"< 5,5 m",NaN
6,ELISA MERCOEUR,NaN,0.0,Betula,pendula,0,4,0-5 m,"< 5,5 m",NaN
7,ELISA MERCOEUR,NaN,0.0,Quercus,rubra,0,76,21-30 m,"< 5,5 m",NaN
8,ELISA MERCOEUR,NaN,0.0,Pinus,radiata,0,59,11-15 m,"< 5,5 m",NaN
9,JEAN BATISTE DAVIAIS,NaN,0.0,Platanus,acerifolia (x),1,44,6-10 m,"< 5,5 m",NaN
10,JEAN BATISTE DAVIAIS,NaN,0.0,Populus,nigra,1,100,21-30 m,"< 5,5 m",NaN
11,JEAN BATISTE DAVIAIS,NaN,0.0,Platanus,acerifolia (x),1,16,6-10 m,"< 5,5 m",NaN
12,VERTAIS,NaN,0.0,Pinus,radiata,0,85,6-10 m,"< 5,5 m",NaN
13,VERTAIS,NaN,0.0,Fraxinus,excelsior,1,24,6-10 m,"< 5,5 m",NaN
14,EGLISE DE LA MADELEINE,NaN,0.0,Paulownia,imperialis,0,77,11-15 m,"< 5,5 m",NaN
15,PROCE,NaN,0.0,Magnolia,grandiflora,0,37,11-15 m,Z.N.R.,NaN
16,PROCE,NaN,0.0,Magnolia,(x) soulangeana,0,10,6-10 m,Z.N.R.,NaN
17,PROCE,NaN,0.0,Quercus,ilex,1,10,6-10 m,Z.N.R.,NaN
18,PROCE,NaN,0.0,Magnolia,(x) soulangeana,0,35,6-10 m,Z.N.R.,NaN
19,PROCE,NaN,0.0,Quercus,palustris,1,46,16-20 m,Z.N.R.,NaN
20,PROCE,NaN,0.0,Cedrus,atlantica,1,60,16-20 m,Z.N.R.,NaN
21,PROCE,NaN,0.0,Aesculus,hippocastanum,1,72,16-20 m,Z.N.R.,NaN
22,PROCE,NaN,0.0,Tilia,cordata,1,41,16-20 m,Z.N.R.,NaN
23,PLANTES,NaN,0.0,Magnolia,grandiflora,0,45,11-15 m,Z.N.R.,NaN
24,PLANTES,NaN,0.0,Liriodendron,tulipifera,0,3,0-5 m,Z.N.R.,NaN
25,PLANTES,NaN,0.0,Acer,campbellii,0,12,6-10 m,Z.N.R.,NaN
26,PLANTES,NaN,0.0,Magnolia,grandiflora,0,55,11-15 m,Z.N.R.,NaN
27,PLANTES,NaN,0.0,Gleditsia,triacanthos,0,49,16-20 m,Z.N.R.,NaN
28,PLANTES,NaN,0.0,Robinia,pseudoacacia,1,70,11-15 m,Z.N.R.,NaN
29,PLANTES,NaN,0.0,Juglans,ailanthifolia,0,28,11-15 m,Z.N.R.,NaN
30,PLANTES,NaN,0.0,Pinus,parviflora,0,21,6-10 m,Z.N.R.,NaN
31,PLANTES,NaN,0.0,Taxus,baccata,1,66,16-20 m,Z.N.R.,NaN
32,PLANTES,NaN,0.0,Chamaecyparis,sp,0,16,6-10 m,Z.N.R.,NaN
33,PLANTES,NaN,0.0,Euptelea,polyandra,0,9,6-10 m,Z.N.R.,NaN
34,SAY,NaN,0.0,Crataegus,monogyna,0,16,6-10 m,"< 5,5 m",NaN

Ce que je veut c'est remplir la colonne des arbres remarquables en boolean True ou False selon les critères suivants: 

    - Si l'arbre a une hauteur de fut qui dépasse les 5 m 
    - Si l'arbre a une hauteur totale qui dépasse les 10 m 
    - Si l'arbre a un diamètre qui dépasse 30 cm 
    
#### Etapes à suivre : 
       - Nettoyer la colonne hauteur totale en chiffre
           - lister toute les valeurs sigulier des cellules presente sur cette colonne
           - proposer les une alternative à ces valeurs
       - Nettoyer la colonne hauteur de fut en chiffre moyen
           - lister toute les valeurs sigulier des cellules presente sur cette colonne
           - proposer les une alternative à ces valeurs

In [39]:
all_heights = []
all_fut_heights = []
for line in range(len(PAN)):
    all_heights.append(PAN.loc[line, 'Hauteur totale'])
    all_fut_heights.append(PAN.loc[line, 'Hauteur moyenne du fût'])
all_heights = list(set(all_heights))
all_fut_heights = list(set(all_fut_heights))
print(all_heights)
print(all_fut_heights)

['6-10 m', '0 m', '11-15 m', '21-30 m', '0-5 m', '16-20 m']
['0 m', 'Z.N.R.', '< 5,5 m', '> 5,5 m']

Je sais maintenant  que les arbres sont classé enterme de hauteur total selon les valeurs suivantes:
['21-30 m', '0 m', '6-10 m', '16-20 m', '11-15 m', '0-5 m']
je voudrais les remplacer par les hauteurs fixes suivantes :
[30, 0, 10, 20,15, 5]

Je sais aussi que les hauteur de fut moyenne sont classées selon les valeurs suivantes :
['0 m', '< 5,5 m', '> 5,5 m', 'Z.N.R.']
je voudrais les remplacer par les valeurs suivantes :
[0, 10, 5 , ZNR]

In [40]:
## Mon algo pour changer une par une les cellules de Nom
for line in range(len(PAN)):
    hauteur = PAN.loc[line, 'Hauteur totale']
    fut = PAN.loc[line, 'Hauteur moyenne du fût']
    if hauteur == '21-30 m':
        PAN.loc[line, 'Hauteur totale'] = 30
    elif hauteur == '0 m':
        PAN.loc[line, 'Hauteur totale'] = 0
    elif hauteur == '6-10 m':
        PAN.loc[line, 'Hauteur totale'] = 10
    elif hauteur == '16-20 m':
        PAN.loc[line, 'Hauteur totale'] = 20
    elif hauteur == '11-15 m':
        PAN.loc[line, 'Hauteur totale'] = 15
    elif hauteur == '0-5 m':
        PAN.loc[line, 'Hauteur totale'] = 5
    elif fut == '0 m':
        PAN.loc[line, 'Hauteur moyenne du fût'] = 0
    elif fut == '< 5,5 m':
        PAN.loc[line, 'Hauteur moyenne du fût'] = 7
    elif fut == '> 5,5 m':
        PAN.loc[line, 'Hauteur moyenne du fût'] = 5

Maintenant que mes colonne d'hauteur total et d hauteur moyenne de fut sont propre je vais remplir ma colonne arbre remarquable

In [41]:
for line in range(len(PAN)):
    hauteur = PAN.loc[line, 'Hauteur totale']
    fut = PAN.loc[line, 'Hauteur moyenne du fût']
    diametre = PAN.loc[line, 'Diamètre']
    if hauteur > 15 and diametre > 30: 
        PAN.loc[line, 'Arbre remarquable'] = True
    else:
        PAN.loc[line, 'Arbre remarquable'] = False
PAN

,Nom,Année de plantation,Année estimée,Genre,Espèce,Allergène,Diamètre,Hauteur totale,Hauteur moyenne du fût,Arbre remarquable
0,CAPUCINS,NaN,0.0,Tilia,platyphyllos,1,29,10,"< 5,5 m",False
1,CAPUCINS,NaN,0.0,Laurus,nobilis,0,19,15,"< 5,5 m",False
2,CANCLAUX,NaN,0.0,Aesculus,hippocastanum,1,62,15,"< 5,5 m",False
3,BASSE MAR,NaN,0.0,Lagerstroemia,indica,0,8,5,"< 5,5 m",False
4,BASSE MAR,NaN,0.0,Acer,negundo,1,12,5,"< 5,5 m",False
...,...,...,...,...,...,...,...,...,...,...
4535,PLANTES,NaN,0.0,Quercus,robur,0,12,10,Z.N.R.,False
4536,PLANTES,NaN,0.0,Sequoia,sempervirens,0,46,20,Z.N.R.,True
4537,PLANTES,NaN,0.0,Picea,abies,0,49,20,Z.N.R.,True
4538,PLANTES,NaN,0.0,Pinus,taiwanensis,0,3,5,Z.N.R.,False
4539,PLANTES,NaN,0.0,Photinia,serrulata,0,31,10,Z.N.R.,False

In [42]:
#Nombre d'arbre remarquable dans mes parcs dans les arbres sont referencés. 
len(PAN[PAN['Arbre remarquable'] == True])

1008

In [43]:
##Correction des fautes d'orthographe dans le PAN

# PJN.loc[51,'Nom'] = 'CAMBRONNE'
for line in range(len(PAN)):
    if PAN.loc[line, 'Nom'] == 'COMANDANT AUBIN':
        PAN.loc[line, 'Nom'] = 'COMMANDANT AUBIN'
    elif PAN.loc[line, 'Nom'] == 'COMANDANT LACROIX':
        PAN.loc[line, 'Nom'] = 'COMMANDANT LACROIX'
    elif PAN.loc[line, 'Nom'] == 'CLOS TOREAU':
        PAN.loc[line, 'Nom'] = 'CLOS-TOREAU'
    elif PAN.loc[line, 'Nom'] == 'ELISA  MERCOEUR':
        PAN.loc[line, 'Nom'] = 'ELISA MERCOEUR'
    elif PAN.loc[line, 'Nom'] == 'CHEZINE BOUCHAUD PROCE':
        PAN.loc[line, 'Nom'] = 'PROCE'
    elif PAN.loc[line, 'Nom'] == 'JEAN BATISTE DAVIAIS':
        PAN.loc[line, 'Nom'] = 'JEAN-BATISTE DAVIAIS'
    elif PAN.loc[line, 'Nom'] == 'TOUSSAIN LOUVERTURE':
        PAN.loc[line, 'Nom'] = 'TOUSSAINT LOUVERTURE'
    elif PAN.loc[line, 'Nom'] == 'JEAN-BATISTE DAVIAIS':
        PAN.loc[line, 'Nom'] = 'JEAN-BAPTISTE DAVIAIS'
    elif PAN.loc[line, 'Nom'] == 'LES COURTILS':
        PAN.loc[line, 'Nom'] = 'COURTILS'
    elif PAN.loc[line, 'Nom'] == 'SEVRE': ## ici j integre le square au parc englobant etant donnée que le square est dnas le parc
        PAN.loc[line, 'Nom'] = 'VIEUX PARC DE SEVRES'
    elif PAN.loc[line, 'Nom'] == 'GUIROUÉE':
        PAN.loc[line, 'Nom'] = 'GUIROUEE'
    elif PAN.loc[line, 'Nom'] == 'BASSE MAR':
        PAN.loc[line, 'Nom'] = 'PLACE BASSE MAR'

In [44]:
## Tous les parcs exploitable sur ce jeu de donnée
All_parks_arbre = []
for line in range(len(PAN)):
    All_parks_arbre.append(PAN.loc[line, 'Nom'])
    
unique_parks_arbre = list(set(All_parks_arbre))

print(len(unique_parks_arbre))
print(unique_parks_arbre)

53
['CONFLUENT', 'PROCE', 'JEAN LE GIGANT', 'GASTON MICHEL', 'WASHINGTON', 'PLANTES', 'CHARLES HOUSSET', 'COMMANDANT LACROIX', 'BOUCARDIERE', 'JEAN HEURTIN', 'GUIROUEE', 'LOUIS FEUILLADE', 'MARCEL LAUNAY', 'PLACE BASSE MAR', 'QUATRE JEUDIS', 'FARFADETS', 'SAINTE ANNE', 'MARCEL MOISAN', 'EDIT DE NANTES', 'CANCLAUX', 'VIEUX PARC DE SEVRES', 'VERTAIS', 'DERVALLIERES', 'CLOS-TOREAU', 'SAINT PASQUIER', 'ELISA MERCOEUR', 'ZENITH', 'PASCAL LEBEE', 'BOIS DE LA MUSSE', 'NADIR', 'LAIT DE MAI', 'ETIENNE DESTRANGES', 'CAPUCINS', 'MAURICE SCHWOB', 'PRINQUIAU', 'MARSEILLAISE', 'TOUSSAINT LOUVERTURE', 'EGLISE DE LA MADELEINE', 'VILLEBOIS MAREUIL', 'JEAN-BATISTE DAVIAIS', 'NECTARS', 'COMMANDANT AUBIN', 'MARTYRS IRLANDAIS', 'BENONI GOULIN', 'COURTILS', 'GUSTAVE ROCH', 'HALVEQUE', 'STADE DE LA BEAUJOIRE', 'CINQ SENS', 'SAY', 'CAMBRONNE', 'FAUSTIN HELIE', 'LOUIS BUREAU']

In [45]:
diff = list(set(unique_parks) - set(unique_parks_arbre))
print(len(diff))
print(diff)

40
['MARAICHES', 'FONDERIES', 'ILE DE VERSAILLES', 'CHANTIERS', 'PSALETTE', 'ZAC PILLEUX NORD', 'PILOTIERE', 'BOLLARDIERE PITRE DE LISLE', 'MAQUIS DE SAFFRE', 'PLESSIS TISON', 'FELIX THOMAS', 'BLOTTEREAU', "JARDIN D'ENFANTS DE PROCE", 'PETIT PORT', 'MABON', 'NOE MITRIE', 'PABLO PICASSO', 'AUGUSTIN FRESNEL', 'GAUDINIERE', 'SAINT FRANCOIS', 'PROUST BERGSON', 'JULES BRECHOIR', 'GABRIEL CHEREAU', 'JEAN-BAPTISTE BARRE', 'LE OBLATES', 'BARBARA', 'JEAN-BAPTISTE DAVIAIS', 'BEAUJOIRE', 'AMIRAL HALGAND', 'MALAKOFF', 'WATTIGNIES', 'CHANTRERIE', 'HONGRIE', 'Douves du Chateau des Ducs', "L'AMANDE", 'BEAULIEU', "COMBATTANTS D'AFRIQUE DU NORD", 'Espace de jeux de Belle Ile', 'BROUSSAIS', 'MOUTONNERIE']

In [46]:
## je veux les parcs qui ne sont pas éxploité entre unique_parks et unique_parks_arbre
Commun = []
perdu_arbre = []
perdu_parks = []

for park in unique_parks:
    if park in unique_parks_arbre:
        Commun.append(park)
    else:
        perdu_parks.append(park)

for park in unique_parks_arbre:
    if park not in unique_parks:
        perdu_arbre.append(park)
        
print("Commun") 
print(len(Commun))
print(Commun)
print("perdu_arbre")
print(len(perdu_arbre))
print(perdu_arbre)
print("perdu_parks")
print(len(perdu_parks))
print(perdu_parks)

Commun
52
['QUATRE JEUDIS', 'MARCEL LAUNAY', 'FARFADETS', 'SAINTE ANNE', 'PASCAL LEBEE', 'NADIR', 'ETIENNE DESTRANGES', 'MAURICE SCHWOB', 'MARSEILLAISE', 'COMMANDANT AUBIN', 'NECTARS', 'STADE DE LA BEAUJOIRE', 'PLANTES', 'CLOS-TOREAU', 'ELISA MERCOEUR', 'ZENITH', 'EGLISE DE LA MADELEINE', 'VILLEBOIS MAREUIL', 'SAY', 'FAUSTIN HELIE', 'LOUIS BUREAU', 'PROCE', 'JEAN LE GIGANT', 'CANCLAUX', 'VERTAIS', 'DERVALLIERES', 'BOIS DE LA MUSSE', 'PRINQUIAU', 'TOUSSAINT LOUVERTURE', 'MARTYRS IRLANDAIS', 'BENONI GOULIN', 'CAMBRONNE', 'CONFLUENT', 'GASTON MICHEL', 'WASHINGTON', 'CHARLES HOUSSET', 'COMMANDANT LACROIX', 'BOUCARDIERE', 'GUIROUEE', 'PLACE BASSE MAR', 'LOUIS FEUILLADE', 'MARCEL MOISAN', 'EDIT DE NANTES', 'VIEUX PARC DE SEVRES', 'SAINT PASQUIER', 'LAIT DE MAI', 'CAPUCINS', 'COURTILS', 'HALVEQUE', 'GUSTAVE ROCH', 'CINQ SENS', 'JEAN HEURTIN']
perdu_arbre
1
['JEAN-BATISTE DAVIAIS']
perdu_parks
40
['PLESSIS TISON', 'BLOTTEREAU', 'MABON', 'NOE MITRIE', 'PROUST BERGSON', "COMBATTANTS D'AFRIQUE DU NORD", 'Espace de jeux de Belle Ile', 'CHANTIERS', 'BOLLARDIERE PITRE DE LISLE', "JARDIN D'ENFANTS DE PROCE", 'PETIT PORT', 'AUGUSTIN FRESNEL', 'GAUDINIERE', 'MALAKOFF', 'WATTIGNIES', 'CHANTRERIE', "L'AMANDE", 'BROUSSAIS', 'FELIX THOMAS', 'PABLO PICASSO', 'SAINT FRANCOIS', 'GABRIEL CHEREAU', 'JEAN-BAPTISTE BARRE', 'LE OBLATES', 'BEAUJOIRE', 'AMIRAL HALGAND', 'Douves du Chateau des Ducs', 'MARAICHES', 'ILE DE VERSAILLES', 'PSALETTE', 'ZAC PILLEUX NORD', 'PILOTIERE', 'MAQUIS DE SAFFRE', 'JULES BRECHOIR', 'BARBARA', 'JEAN-BAPTISTE DAVIAIS', 'HONGRIE', 'BEAULIEU', 'FONDERIES', 'MOUTONNERIE']

In [47]:
##Parcs Plus Arbres
# PPA = pd.merge(PJN, PAN, how="left" ,on="Nom")
# PPA

In [48]:
# FNDF = pd.merge(PPA,CVN, how='left', on = 'Nom')
# FNDF

In [49]:
#Et si je voulais les parcs avec les arbres extraordinaire
# FNDF[FNDF['Arbre remarquable']==True]

# Table Finale

Le merge rendant le dataframe très lourd, on va tenter une approche differente pour synthetiser nos données

L'idée ici est de rajouter des colonnes sur la table PJN qui contiendrons les informations essentielles pour nos critères de selection. 

Les informations  qui m'interessent sur le CVN sont: 

    - Nombre de famille de plantes, d'espèces et genres
    
Les informations qui m'interessent sur le PAN sont:

    - Nombre d'arbre ,
    - Nombre d'espèce, de genre
    - Nombre d'arbre formibale
    
### Les colonnes à rajouter

 - nombre d'arbres
 - nombred d'espece d'abre 
 - nombre de genre d'arbre 
 - nombre d'arbre formidable
 - nombre de plantes
 - nombre d'espèce de plantes
 - nombre de genre de plantes

### Ajout des colonnes arbres

Pour les colonne concernant les arbres il faut : 

    - Que j'ajoute la colonne sur PJN avec que des NaN
    - Que je parcours la liste des parcs commun 
    - Que je cree des sous dataframe temporaire filtrés sur ces noms 
    - Que je compte le nombre d'arbre d'espèce differentes, de genres, d'arbre formidables
        - Je commence par créer une liste ou je mets toute les valeures de la colonne
        - Mon nombre est len(list(set(maliste)))

In [52]:
PJN['Nb arbre'] = np.nan
PJN['Nb espece arbre'] = np.nan
PJN['Nb genre arbre'] = np.nan
PJN['Nb arbre formidable'] = np.nan
PJN

,Nom,Type,Adresse,Code postal,Commune,Accès transports en commun,Gardien,Jeux pour enfants,Pataugeoire,Sanitaires,...,Chiens autorisés,Jardin clos,Abris,Point d'eau,Table pique-nique,Animaux,Nb arbre,Nb espece arbre,Nb genre arbre,Nb arbre formidable
0,GABRIEL CHEREAU,Parc,Rue d'Ancin,44000,Nantes,Ligne 1 Médiathèque,NON,OUI,NON,NON,...,OUI,OUI,NON,OUI,NON,NaN,NaN,NaN,NaN,NaN
1,NADIR,Parc,Rue du Nadir,44300,Nantes,Ligne 2 Place du cirque / Ligne C6 St Joseph d...,NON,OUI,NON,NON,...,OUI,NON,NON,NON,NON,NaN,NaN,NaN,NaN,NaN
2,WASHINGTON,Parc,Boulevard des Américains,44300,Nantes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HALVEQUE,Parc,Rue Léon Serpollet,44300,Nantes,Ligne 1 Halvêque,NON,OUI,OUI,NON,...,OUI,NON,NON,NON,OUI,NaN,NaN,NaN,NaN,NaN
4,WATTIGNIES,Parc,Rue de l'Echappée,44200,Nantes,Wattignies Ligne 2,NON,NON,NON,NON,...,OUI,NON,NON,NON,NON,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,GUSTAVE ROCH,Parc,22 Boulevard Gustave Roch,44200,Nantes,Wattignies Lignes 2 ; 3,NON,OUI,NON,NON,...,OUI,OUI,NON,NON,NON,NaN,NaN,NaN,NaN,NaN
88,ILE DE VERSAILLES,Parc,Quai Henri Barbusse,44000,Nantes,Saint Mihiel Ligne 2,NON,OUI,NON,OUI,...,OUI,OUI,OUI,OUI,NON,NaN,NaN,NaN,NaN,NaN
89,MARTYRS IRLANDAIS,Parc,Rue de l'Adour,44100,Nantes,Romain Rolland Ligne 1,NON,OUI,NON,NON,...,OUI,OUI,NON,OUI,NON,NaN,NaN,NaN,NaN,NaN
90,FARFADETS,Parc,Allée de Portricq,44300,Nantes,Ligne 2 Place du cirque / Ligne C6 Portricq,NON,NON,NON,NON,...,OUI,NON,NON,NON,NON,NaN,NaN,NaN,NaN,NaN
91,SAINTE ANNE,Parc,Rue de l'Hermitage,44100,Nantes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
for park in Commun:
    tempGenre = []
    tempEspece = []
    tempFormidable = 0
    subDFarbre = PAN[PAN['Nom'] == park]
    subDFarbre = subDFarbre.reset_index(drop=True)
    for line in range(len(subDFarbre)):
        tempGenre.append(subDFarbre.loc[line, 'Genre'])
        tempEspece.append(subDFarbre.loc[line, 'Espèce'])
        if subDFarbre.loc[line, 'Arbre remarquable'] == True:
            tempFormidable += 1
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb espece arbre'] = len(list(set(tempEspece)))
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb genre arbre'] = len(list(set(tempGenre)))
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb arbre'] = len(subDFarbre)
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb arbre formidable'] = tempFormidable

    
    
            
    
#les parcs ou il y a plus de 100 arbre plus de trois espece, sans gardien 
hamzapark = PJN[(PJN['Nb arbre'] > 100) & (PJN['Nb espece arbre'] > 3) & (PJN['Gardien'] != 'OUI') ]
hamzapark

,Nom,Type,Adresse,Code postal,Commune,Accès transports en commun,Gardien,Jeux pour enfants,Pataugeoire,Sanitaires,...,Chiens autorisés,Jardin clos,Abris,Point d'eau,Table pique-nique,Animaux,Nb arbre,Nb espece arbre,Nb genre arbre,Nb arbre formidable
3,HALVEQUE,Parc,Rue Léon Serpollet,44300,Nantes,Ligne 1 Halvêque,NON,OUI,OUI,NON,...,OUI,NON,NON,NON,OUI,NaN,258.0,24.0,20.0,0.0
23,DERVALLIERES,Parc,Rue Louis Le Nain,44100,Nantes,Ligne 54 Grand Carcouet; Ligne 25 Le nain,NON,NON,NON,NON,...,OUI,NON,NON,NON,NON,NaN,249.0,32.0,22.0,65.0
26,QUATRE JEUDIS,Parc,Passage des Tauzins,44300,Nantes,Ligne 2 Place du Cirque / Ligne C6 Portricq,NON,OUI,NON,NON,...,OUI,NON,NON,NON,NON,NaN,152.0,15.0,12.0,29.0
44,CINQ SENS,Parc,Rue Gaëtan Rondeau,44200,Nantes,Ligne 1 Duchesse anne château / Ligne 4 Ile de...,NON,OUI,NON,OUI,...,OUI,NON,NON,OUI,NON,NaN,107.0,29.0,29.0,0.0
58,ELISA MERCOEUR,Parc,1 Cours Commandant d'Estienne d'Orves,44000,Nantes,Bouffay Ligne 1,NON,NON,NON,NON,...,OUI,NON,NON,NON,NON,NaN,211.0,30.0,24.0,76.0
66,STADE DE LA BEAUJOIRE,Parc,Route de Saint Joseph,44300,Nantes,Beaujoire Ligne 1,NON,NON,NON,NON,...,OUI,NON,NON,NON,NON,NaN,142.0,25.0,17.0,5.0
84,BOUCARDIERE,Parc,54 Rue de l'Abbaye,44100,Nantes,Bois Hardy Ligne 25 Gare de chantenay Ligne 81,NON,OUI,NON,NON,...,OUI,OUI,NON,OUI,NON,NaN,229.0,41.0,25.0,47.0

In [54]:
PAN[PAN['Nom'] == 'QUATRE JEUDIS' ]

,Nom,Année de plantation,Année estimée,Genre,Espèce,Allergène,Diamètre,Hauteur totale,Hauteur moyenne du fût,Arbre remarquable
111,QUATRE JEUDIS,NaN,0.0,Quercus,robur,0,24,20,"< 5,5 m",False
112,QUATRE JEUDIS,NaN,0.0,Quercus,robur,0,72,20,"< 5,5 m",True
113,QUATRE JEUDIS,NaN,0.0,Quercus,robur,0,10,10,"< 5,5 m",False
114,QUATRE JEUDIS,NaN,0.0,Quercus,robur,0,52,15,"< 5,5 m",False
115,QUATRE JEUDIS,NaN,0.0,Quercus,palustris,1,13,10,"< 5,5 m",False
...,...,...,...,...,...,...,...,...,...,...
4356,QUATRE JEUDIS,NaN,0.0,Quercus,robur,0,32,20,"< 5,5 m",True
4484,QUATRE JEUDIS,NaN,0.0,Fraxinus,excelsior,1,5,10,"< 5,5 m",False
4485,QUATRE JEUDIS,NaN,0.0,Metasequoïa,glyptostroboïdes,0,7,5,"< 5,5 m",False
4486,QUATRE JEUDIS,NaN,0.0,Betula,pendula,0,17,15,0 m,False
4487,QUATRE JEUDIS,NaN,0.0,Populus,nigra,1,38,20,"< 5,5 m",True

### Ajout des colonnes Plantes

In [55]:
PJN['Nb plantes'] = np.nan
PJN['Nb Famille plantes'] = np.nan
PJN['Nb Genre plantes'] = np.nan
PJN['Nb Espece plantes'] = np.nan
PJN

,Nom,Type,Adresse,Code postal,Commune,Accès transports en commun,Gardien,Jeux pour enfants,Pataugeoire,Sanitaires,...,Table pique-nique,Animaux,Nb arbre,Nb espece arbre,Nb genre arbre,Nb arbre formidable,Nb plantes,Nb Famille plantes,Nb Genre plantes,Nb Espece plantes
0,GABRIEL CHEREAU,Parc,Rue d'Ancin,44000,Nantes,Ligne 1 Médiathèque,NON,OUI,NON,NON,...,NON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NADIR,Parc,Rue du Nadir,44300,Nantes,Ligne 2 Place du cirque / Ligne C6 St Joseph d...,NON,OUI,NON,NON,...,NON,NaN,31.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN
2,WASHINGTON,Parc,Boulevard des Américains,44300,Nantes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.0,10.0,7.0,8.0,NaN,NaN,NaN,NaN
3,HALVEQUE,Parc,Rue Léon Serpollet,44300,Nantes,Ligne 1 Halvêque,NON,OUI,OUI,NON,...,OUI,NaN,258.0,24.0,20.0,0.0,NaN,NaN,NaN,NaN
4,WATTIGNIES,Parc,Rue de l'Echappée,44200,Nantes,Wattignies Ligne 2,NON,NON,NON,NON,...,NON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,GUSTAVE ROCH,Parc,22 Boulevard Gustave Roch,44200,Nantes,Wattignies Lignes 2 ; 3,NON,OUI,NON,NON,...,NON,NaN,22.0,7.0,5.0,0.0,NaN,NaN,NaN,NaN
88,ILE DE VERSAILLES,Parc,Quai Henri Barbusse,44000,Nantes,Saint Mihiel Ligne 2,NON,OUI,NON,OUI,...,NON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,MARTYRS IRLANDAIS,Parc,Rue de l'Adour,44100,Nantes,Romain Rolland Ligne 1,NON,OUI,NON,NON,...,NON,NaN,7.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN
90,FARFADETS,Parc,Allée de Portricq,44300,Nantes,Ligne 2 Place du cirque / Ligne C6 Portricq,NON,NON,NON,NON,...,NON,NaN,96.0,8.0,8.0,14.0,NaN,NaN,NaN,NaN
91,SAINTE ANNE,Parc,Rue de l'Hermitage,44100,Nantes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN

In [56]:
CVN

,Famille,Genre,Espèce,Cultivar,Origine,Nom
0,Amaryllidaceae,Galanthus,woronowii Los.,NaN,Botanique garden univer. Agricultre - Batumi,PLANTES
1,Amaryllidaceae,Acis,rosea Sweet,NaN,"Botanischer Garten St.Gallen,St.Gallen,Autriche",PLANTES
2,Amaryllidaceae,Narcissus,papyraceus subsp. polyanthus (Loisel.) Asch. &...,NaN,J.B. Prague (Rep. Tchèque),PLANTES
3,Amaryllidaceae,Narcissus,calcicola L.,NaN,JB. Prague (Rep. Tchèque),PLANTES
4,Amaryllidaceae,Allium,flavum L.,NaN,JB.Bratislava (Slovakie),PLANTES
...,...,...,...,...,...,...
2592,Sapindaceae,Acer,palmatum,Kagiri-nishiki,NaN,PROCE
2593,Sapindaceae,Acer,palmatum,Shishi-gashira,NaN,PROCE
2594,Ericaceae,Arbutus,x andrachnoides,NaN,NaN,PLANTES
2595,Ericaceae,Arbutus,x thuretiana,NaN,NaN,BLOTTEREAU
2596,Salicaceae,Azara,lanceolata,NaN,NaN,PLANTES

In [68]:
for park in unique_parks_flore:
    tempFamille = []
    tempGenre = []
    tempEspece = []
    subDFplante = CVN[CVN['Nom'] == park]
    subDFplante = subDFplante.reset_index(drop=True)
    for line in range(len(subDFplante)):
        tempFamille.append(subDFplante.loc[line, 'Famille'])
        tempGenre.append(subDFplante.loc[line, 'Genre'])
        tempEspece.append(subDFplante.loc[line, 'Espèce'])
        
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb Espece plantes'] = len(list(set(tempEspece)))
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb Genre plantes'] = len(list(set(tempGenre)))
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb plantes'] = len(subDFplante)
    PJN.loc[PJN[(PJN['Nom'] == park)].index, 'Nb Famille plantes'] = len(list(set(tempFamille)))

In [71]:
PJN[(PJN['Nom'] == 'PLANTES')]

,Nom,Type,Adresse,Code postal,Commune,Accès transports en commun,Gardien,Jeux pour enfants,Pataugeoire,Sanitaires,...,Table pique-nique,Animaux,Nb arbre,Nb espece arbre,Nb genre arbre,Nb arbre formidable,Nb plantes,Nb Famille plantes,Nb Genre plantes,Nb Espece plantes
32,PLANTES,Parc,Rue Stanislas Baudry,44000,Nantes,Gare SNCF Lignes 1,OUI,OUI,OUI,OUI,...,NON,Canards; Chèvres; Poules; Oiseaux,663.0,240.0,108.0,163.0,1867.0,134.0,585.0,1439.0

In [72]:
PJN[(PJN['Nom'] == 'PROCE')]

,Nom,Type,Adresse,Code postal,Commune,Accès transports en commun,Gardien,Jeux pour enfants,Pataugeoire,Sanitaires,...,Table pique-nique,Animaux,Nb arbre,Nb espece arbre,Nb genre arbre,Nb arbre formidable,Nb plantes,Nb Famille plantes,Nb Genre plantes,Nb Espece plantes
61,PROCE,Parc,Boulevard des Anglais,44000,Nantes,Ligne C3 Procé,OUI,OUI,NON,OUI,...,NON,NaN,1053.0,110.0,70.0,383.0,180.0,48.0,76.0,115.0